* {
    box-sizing: border-box;
}

body {
    background-color:rgb(137, 200, 246) ;
}

.home-search-bar {
    position: absolute;
    top: 40%;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    z-index: 100;
}



#myBtn {
    display: flex;
    background: transparent;
    color: rgb(118, 177, 202);
    text-decoration: none;
    border: none;
}

#myBtn i:hover{
    cursor: pointer;
}


.modal {
    display: none; 
    position: fixed;
    z-index: 1; /* will be on top of everything */
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; /* enable scroll */
    background-color: rgb(36, 188, 209); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
  }
nav {
   background-color: rgb(31, 28, 128);
}

.watchlist-home {
    color: rgb(137, 200, 246);
    font-size: 25px;
}

a {
    font-size: 4px;
}

.providers {
    position:absolute;
    bottom: 280px;
    margin-left: 10px;
    margin-right: 10px;
    
}


@media screen and (min-width: 800px) {
    body {
      background-color: rgb(137, 200, 246);
    }
    .home-search-bar{
        margin-top: -175px;
    }
  }


  @media screen and (max-width: 550px) {
    
    .home-search-bar{
        margin-bottom: 20px;
    }
  }

/* .logos {
    float: left;
    width:  20%;
    height: 20%;
    object-fit: cover;
} */
/* 
the following css is for the weather api */

.card {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
  }
  
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
  }
  
  button:hover {
    background: #7c7c7c6b;
  }
  
  h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  
  .description {
    text-transform: capitalize;
    margin-left: 8px;
  }
  
  .weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
  }
  
  .weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
  }